<app-navbar />
<div class="header">
  <!-- Header Section -->
  <header class="search-header">
    <div class="trip-type">
      <mat-radio-group>
        <mat-radio-button value="one-way">
          <span>One Way</span>
        </mat-radio-button>
        <mat-radio-button value="round-trip">
          <span>Round Trip</span>
        </mat-radio-button>
        <mat-radio-button value="multi-city">
          <span> Multi City </span>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="search-inputs">
      <mat-form-field appearance="outline">
        <mat-label style="color: whitesmoke">From</mat-label>
        <mat-select placeholder="Select Departure">
          <mat-option *ngFor="let location of locations" [value]="location">
            {{ location }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label style="color: whitesmoke">To</mat-label>
        <mat-select placeholder="Select Destination">
          <mat-option *ngFor="let location of locations" [value]="location">
            {{ location }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label style="color: whitesmoke">Departure</mat-label>
        <input
          matInput
          [matDatepicker]="departurePicker"
          placeholder="Select a date"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="departurePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #departurePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="search-button">
      <button mat-raised-button color="primary">Search</button>
    </div>
  </header>
</div>

<div class="container">
  <!-- Filter Section -->
  <aside class="filters">
    <h3>Popular Filters</h3>
    <mat-checkbox>IndiGo</mat-checkbox>
    <mat-checkbox>1 Stop</mat-checkbox>
    <mat-checkbox>Morning Departures</mat-checkbox>
  </aside>

  <!-- <div *ngFor="let flight of flightDetails">
      <p>Flights from {{flight.departureLocation}} to {{flight.arrivalLocation}}</p>
    </div> -->
  <!-- Results Section -->
  <section class="results">
    <div class="tabs">
      <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
      <button mat-fab extended (click)="sortByPrice()"> ₹Cheapest</button>
      <button mat-fab extended (click)="sortByFlightDuration()">Fastest</button>
      <button mat-fab extended (click)="sortByPrice()">You May Prefer</button>
    </div>
    <div
      class="flight-card"
      *ngFor="
        let flight of flightDetails
          | paginate : { itemsPerPage: count, currentPage: p }
      "
    >
      <div class="flight-card-left">
        <img
          src="{{ flight.airlineLogo }}"
          alt="{{ flight.airlineName }}"
          class="airline-logo"
        />
        <div>
          <p class="airline-name">{{ flight.airlineName }}</p>
          <p class="flight-number">{{ flight.flightNumber }}</p>
        </div>
      </div>

      <div class="flight-card-details">
        <div>
          <p class="time">{{ flight.depatureTime }}</p>
          <p class="location">{{ flight.departureLocation }}</p>
        </div>

        <div class="duration-container">
          <p class="duration">{{ flight.flightDuration }}</p>
          <p class="stop-info">{{ flight }}</p>
        </div>

        <div>
          <p class="time">{{ flight.arrivalTime }}</p>
          <p class="location">{{ flight.arrivalLocation }}</p>
        </div>
      </div>

      <div class="price-container">
        <p class="price">₹{{ flight.ticketPrice | number }}</p>
        <p class="per-adult">per adult</p>
      </div>

      <button class="view-prices-btn" (click)="payNow()">VIEW PRICES</button>
    </div>
    <div class="paginator-controller">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </section>
</div>
