/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92.4vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  #header{
    font-size: 1.6rem;
    font-weight: 600;
  }
  .box {
    width: 80%;
    max-width: 900px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 30px;
  }
  
  .form-container {
    width: 100%;
  }
  
  .flight-form {
    display: flex;
    flex-direction: column;
  }

  
  

  
  button {
    background-color: #512da8;
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
  }
  
  button:hover {
    background-color: #3b1c7b;
  }
  
  @media (max-width: 768px) {
    button {
      width: 100%;
      font-size: 14px;
    }
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    border-radius: 70px !important;
  }
   */

:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: red;
}

:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: red;
}

:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: red;}