<p>flights works!</p>
<div class="container">
    <div class="firstdropdown">
        <input type="dropdown">
        <select name="Pune" id="pune"></select>
        <select name="kolhapur" id="kolhapur"></select>
    </div>
</div>

<li class="nav-item dropdown" >
    <a class="nav-link dropdown-toggle white" href="#" id="navbarDropdownMenuLink" role="button"
      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: aliceblue;">
      <i class="fas fa-user" style="color: aliceblue;"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li><a class="dropdown-item" routerLink="/userlogin">User Login</a></li>
      <li><a class="dropdown-item" routerLink="/adminlogin">Admin Login</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown" >
    <a class="nav-link dropdown-toggle white" href="#" id="navbarDropdownMenuLink" role="button"
      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: aliceblue;">
      <i class="fas fa-user" style="color: aliceblue;"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li><a class="dropdown-item" >My Account</a></li>
      <li><a class="dropdown-item" >View My Orders</a></li>
      <li><a class="dropdown-item" routerLink="/logout">Logout</a></li>
    </ul>
  </li>