<app-navbar></app-navbar>
<div class="container">
    <p id="header">Schedule Flight</p>
      <div class="box">
        <mat-form-field appearance="outline">
          <mat-label>From</mat-label>
          <input
            type="text"
            matInput
            [matAutocomplete]="auto"
            [(ngModel)]="searchTerm"
            (ngModelChange)="filterAirports()"
            placeholder="Search for a city or airport"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <ng-container *ngIf="recentSearches.length">
              <mat-optgroup label="Recent Searches">
                <mat-option *ngFor="let airport of recentSearches" [value]="airport.name">
                  <span>{{ airport.name }}, {{ airport.code }}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>
            <ng-container *ngIf="popularCities.length">
              <mat-optgroup label="Popular Cities">
                <mat-option *ngFor="let airport of popularCities" [value]="airport.name">
                  <span>{{ airport.name }}, {{ airport.code }}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
        

        
</div>
