<app-navbar />

<div class="container">

  <div class="heading-name">
    <p>Book International and Domestic Flights</p>
</div>

  <div class="box">
    <!-- <div class="flight-search"> -->
    <div class="travel-options">
      <mat-radio-group >
        <mat-radio-button value="oneWay" class="travel-ops">One Way</mat-radio-button>
        <mat-radio-button value="roundTrip" class="travel-ops">Round Trip</mat-radio-button>
        <mat-radio-button value="multiCity" class="travel-ops">Multi City</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flight-details">
      <div class="location">
        <mat-form-field appearance="outline">
          <mat-label>From</mat-label>
          <input
            type="text"
            matInput
            [matAutocomplete]="fromAuto"
            [(ngModel)]="searchTermFrom"
            (ngModelChange)="filterAirportsFrom()"
            placeholder="Search for a city or airport"
          />
          <mat-autocomplete #fromAuto="matAutocomplete">
            <!-- Search Results -->
            <ng-container *ngIf="filteredAirportsFrom.length">
              <mat-optgroup label="Search Results">
                <mat-option
                  *ngFor="let airport of filteredAirportsFrom"
                  [value]="airport.name"
                  (click)="onFromSelected(airport)"
                >
                  <span>{{airport}}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>

            <!-- Recent Searches -->
            <ng-container *ngIf="recentSearches.length">
              <mat-optgroup label="Recent Searches">
                <mat-option
                  *ngFor="let airport of recentSearches"
                  [value]="airport.name"
                  (click)="onFromSelected(airport)"
                >
                  <span>{{ airport.name }}, {{ airport.code }}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>

            <!-- Popular Cities -->
            <ng-container *ngIf="popularCities.length">
              <mat-optgroup label="Popular Cities">
                <mat-option
                  *ngFor="let airport of popularCities"
                  [value]="airport.name"
                  (click)="onFromSelected(airport)"
                >
                  <span>{{ airport.name }}, {{ airport.code }}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>

        <!-- To Field -->

        <mat-form-field appearance="outline">
          <mat-label>To</mat-label>
          <input
            type="text"
            matInput
            [matAutocomplete]="toAuto"
            [(ngModel)]="searchTermTo"
            (ngModelChange)="filterAirportsTo()"
            placeholder="Search for a city or airport"
          />
          <mat-autocomplete #toAuto="matAutocomplete">
            <!-- Search Results -->
            <ng-container *ngIf="filteredAirportsTo.length">
              <mat-optgroup label="Search Results">
                <mat-option
                *ngFor="let airport of filteredAirportsFrom"
                  [value]="airport.name"
                  (click)="onFromSelected(airport)"
                >
                  <span>{{airport}}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>

            <!-- Recent Searches -->
            <ng-container *ngIf="recentSearches.length">
              <mat-optgroup label="Recent Searches">
                <mat-option
                  *ngFor="let airport of recentSearches"
                  [value]="airport.name"
                  (click)="onToSelected(airport)"
                >
                  <span>{{ airport.name }}, {{ airport.code }}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>

            <!-- Popular Cities -->
            <ng-container *ngIf="popularCities.length">
              <mat-optgroup label="Popular Cities">
                <mat-option
                  *ngFor="let airport of popularCities"
                  [value]="airport.name"
                  (click)="onToSelected(airport)"
                >
                  <span>{{ airport.name }}, {{ airport.code }}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="dates">
        <mat-form-field appearance="outline">
          <mat-label>Departure</mat-label>
          <input
            matInput
            [matDatepicker]="departurePicker"
            placeholder="Select a date"
            [formControl]="departureControl"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="departurePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi  #departurePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Return</mat-label>
          <input
            matInput
            [matDatepicker]="returnPicker"
            placeholder="Select a date"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="returnPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #returnPicker></mat-datepicker>
        </mat-form-field>
      </div>
    
      <!-- new tab -->
      <div class="dialog-button">
        <button mat-button (click)="openTravellerDialog()" class="traveller-class-btn">
          <div class="traveller-content">
            <p class="traveller-title">Travellers & Class</p>
            <pre class="traveller-count"><strong>{{ totalPassengers }}</strong> Traveller</pre>
            <p class="traveller-class">{{ travelClass }}</p>
          </div>
        </button>
      </div>
      
    </div>
   

    <div class="fare-type-tabs">
      <mat-radio-group [(ngModel)]="selectedFareType">
        <mat-radio-button class="tab-option" value="regular">
          <div>
            <p id="fare-type-tab-head">Regular</p>
            <p>Regular fares</p>
          </div>
        </mat-radio-button>
        <mat-radio-button class="tab-option" value="student">
          <div>
            <p id="fare-type-tab-head">Student</p>
            <p>Extra discounts/baggage</p>
          </div>
        </mat-radio-button>
        <mat-radio-button class="tab-option" value="senior">
          <div>
            <p id="fare-type-tab-head">Senior Citizen</p>
            <p>Up to ₹600 off</p>
          </div>
        </mat-radio-button>
        <mat-radio-button class="tab-option" value="armed-forces">
          <div>
            <p id="fare-type-tab-head">Armed Forces</p>
            <p>Up to ₹600 off</p>
          </div>
        </mat-radio-button>
        <mat-radio-button class="tab-option" value="doctor-nurses">
          <div>
            <p id="fare-type-tab-head">Doctor and Nurses</p>
            <p>Up to ₹600 off</p>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    

    <div class="search-btn">
      <button mat-raised-button color="accent" (click)="getDepartureDate()">
        SEARCH
      </button>
    </div>
  </div>

  <!-- </div> -->
</div>
