@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92.4vh;
    padding: 20px;
    box-sizing: border-box;
  }

  .box {
    width: 80%;
    max-width: 900px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 30px;
  }

.flight-search {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .travel-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .flight-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .special-fares {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .special-fares button {
    flex: 1;
    margin: 0 5px;
  }
  
  .search-btn {
    text-align: center;
  }
  
  .search-btn button {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
  }
  