<app-navbar />
<div class="container">
  <div class="box">
    <!-- <div class="flight-search"> -->
    <div class="travel-options">
      <mat-radio-group>
        <mat-radio-button value="oneWay">One Way</mat-radio-button>
        <mat-radio-button value="roundTrip">Round Trip</mat-radio-button>
        <mat-radio-button value="multiCity">Multi City</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flight-details">
      <div class="location">
        <mat-form-field appearance="outline">
          <mat-label>From</mat-label>
          <input
            type="text"
            matInput
            [matAutocomplete]="fromAuto"
            [(ngModel)]="searchTermFrom"
            (ngModelChange)="filterAirportsFrom()"
            placeholder="Search for a city or airport"
          />
          <mat-autocomplete #fromAuto="matAutocomplete">
            <!-- Search Results -->
            <ng-container *ngIf="filteredAirportsFrom.length">
              <mat-optgroup label="Search Results">
                <mat-option
                  *ngFor="let airport of filteredAirportsFrom"
                  [value]="airport.name"
                  (click)="onFromSelected(airport)"
                >
                  <span>{{ airport.name }}, {{ airport.code }}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>

            <!-- Recent Searches -->
            <ng-container *ngIf="recentSearches.length">
              <mat-optgroup label="Recent Searches">
                <mat-option
                  *ngFor="let airport of recentSearches"
                  [value]="airport.name"
                  (click)="onFromSelected(airport)"
                >
                  <span>{{ airport.name }}, {{ airport.code }}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>

            <!-- Popular Cities -->
            <ng-container *ngIf="popularCities.length">
              <mat-optgroup label="Popular Cities">
                <mat-option
                  *ngFor="let airport of popularCities"
                  [value]="airport.name"
                  (click)="onFromSelected(airport)"
                >
                  <span>{{ airport.name }}, {{ airport.code }}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>

        <!-- To Field -->

        <mat-form-field appearance="outline">
          <mat-label>To</mat-label>
          <input
            type="text"
            matInput
            [matAutocomplete]="toAuto"
            [(ngModel)]="searchTermTo"
            (ngModelChange)="filterAirportsTo()"
            placeholder="Search for a city or airport"
          />
          <mat-autocomplete #toAuto="matAutocomplete">
            <!-- Search Results -->
            <ng-container *ngIf="filteredAirportsTo.length">
              <mat-optgroup label="Search Results">
                <mat-option
                  *ngFor="let airport of filteredAirportsTo"
                  [value]="airport.name"
                  (click)="onToSelected(airport)"
                >
                  <span>{{ airport.name }}, {{ airport.code }}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>

            <!-- Recent Searches -->
            <ng-container *ngIf="recentSearches.length">
              <mat-optgroup label="Recent Searches">
                <mat-option
                  *ngFor="let airport of recentSearches"
                  [value]="airport.name"
                  (click)="onToSelected(airport)"
                >
                  <span>{{ airport.name }}, {{ airport.code }}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>

            <!-- Popular Cities -->
            <ng-container *ngIf="popularCities.length">
              <mat-optgroup label="Popular Cities">
                <mat-option
                  *ngFor="let airport of popularCities"
                  [value]="airport.name"
                  (click)="onToSelected(airport)"
                >
                  <span>{{ airport.name }}, {{ airport.code }}</span>
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
                  <mat-label>To</mat-label>
                  <mat-select [(ngModel)]="selectedFrom" (selectionChange)="onToSelected($event)">
                    <mat-select-trigger>
                      <input
                        matInput
                        type="text"
                        placeholder="Search city or airport"
                        [value]="searchTo"
                        (input)="filterTo($event)"
                      />
                    </mat-select-trigger>
                    <mat-option *ngFor="let location of filteredToOptions" 
                    [value]="location">
                      {{ location }}
                    </mat-option>
                  </mat-select>
                </mat-form-field> -->
      </div>

      <div class="dates">
        <mat-form-field appearance="outline">
          <mat-label>Departure</mat-label>
          <input
            matInput
            [matDatepicker]="departurePicker"
            placeholder="Select a date"
            [formControl]="departureControl"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="departurePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #departurePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Return</mat-label>
          <input
            matInput
            [matDatepicker]="returnPicker"
            placeholder="Select a date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="returnPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #returnPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- new tab -->
      <div class="traveller-class-container">
        <mat-menu #menu="matMenu" class="traveller-menu">
          <div class="traveller-options">
            <div class="option-group">
              <label>ADULTS (12y+)</label>
              <mat-button-toggle-group [(ngModel)]="adults">
                <mat-button-toggle *ngFor="let num of adultNumbers" [value]="num">
                  {{ num }}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="option-group">
              <label>CHILDREN (2y - 12y)</label>
              <mat-button-toggle-group [(ngModel)]="children">
                <mat-button-toggle *ngFor="let num of childNumbers" [value]="num">
                  {{ num }}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="option-group">
              <label>INFANTS (below 2y)</label>
              <mat-button-toggle-group [(ngModel)]="infants">
                <mat-button-toggle *ngFor="let num of infantNumbers" [value]="num">
                  {{ num }}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="travel-class">
              <label>CHOOSE TRAVEL CLASS</label>
              <mat-button-toggle-group [(ngModel)]="travelClass">
                <mat-button-toggle *ngFor="let cls of travelClasses" [value]="cls">
                  {{ cls }}
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="apply-btn">
              <button mat-raised-button color="primary" (click)="applySelection()">APPLY</button>
            </div>
          </div>
        </mat-menu>
      
        <button mat-button [matMenuTriggerFor]="menu">
          <div>
            <p>{{ totalPassengers }} Traveller</p>
            <p>{{ travelClass }}</p>
          </div>
        </button>
      </div>
      
    </div>

    <!-- <div class="special-fares">    
      <mat-radio-button>Regular</mat-radio-button>
      <mat-radio-button>Student</mat-radio-button>
      <mat-radio-button>Senior Citizen</mat-radio-button>
      <mat-radio-button>Armed Forces</mat-radio-button>
      <mat-radio-button>Doctor and Nurses</mat-radio-button>
  
    </div> -->

    <div class="fare-type-tabs">
      <mat-radio-group [(ngModel)]="selectedFareType">
        <mat-radio-button class="tab-option" value="regular">
          <div>
            <h4>Regular</h4>
            <p>Regular fares</p>
          </div>
        </mat-radio-button>
        <mat-radio-button class="tab-option" value="student">
          <div>
            <h4>Student</h4>
            <p>Extra discounts/baggage</p>
          </div>
        </mat-radio-button>
        <mat-radio-button class="tab-option" value="senior">
          <div>
            <h4>Senior Citizen</h4>
            <p>Up to ₹600 off</p>
          </div>
        </mat-radio-button>
        <mat-radio-button class="tab-option" value="armed-forces">
          <div>
            <h4>Armed Forces</h4>
            <p>Up to ₹600 off</p>
          </div>
        </mat-radio-button>
        <mat-radio-button class="tab-option" value="doctor-nurses">
          <div>
            <h4>Doctor and Nurses</h4>
            <p>Up to ₹600 off</p>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    

    <div class="search-btn">
      <button mat-raised-button color="accent" (click)="getDepartureDate()">
        SEARCH
      </button>
    </div>
  </div>

  <!-- </div> -->
</div>
