
<div class="container">
  <div class="name">
    Reset Password
  </div>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="reset-password-form">
    <div class="form-group">
      <label for="newPassword">Enter new password:</label>
      <input type="password" id="newPassword" formControlName="newPassword" class="form-control" placeholder="Enter your new password">
      <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && (resetPasswordForm.get('newPassword')?.dirty || resetPasswordForm.get('newPassword')?.touched)" class="error">
        <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Password is required.</div>
      </div>
    </div>
    <button type="submit" class="submit-button" [disabled]="resetPasswordForm.invalid">Done</button>
  </form>
</div>